#myBtn {
    display: none; /* mặc định bị ẩn */
    position: fixed; /* vị trí fix */
    bottom: 100px;
    right: 30px;
    z-index: 99; /* Hiển thị lên cùng nhất */
    border: none;
    outline: none;
    background-color: rgb(234, 31, 31);
    color: white; 
    cursor: pointer; /* Thêm con trỏ chuột khi treo */
    padding: 15px; 
    border-radius: 50%;
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: rgb(151, 31, 31); 
  }